<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Identificación del Locutor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  
  <header>
      <img src="{{ url_for('static', filename='imagenes/TesiLogo.png') }}" alt="TESI">
     <img src="{{ url_for('static', filename='imagenes/CidesiLogo.png') }}" alt="CIDESI">
  </header>
  <nav>
    <a href="#">Acerca de nosotros</a>
    <a href="#">Identificar locutor</a>
    <a href="#">Audios</a>
    <a href="#">Resultados</a>
  </nav>

  <div class="contenedor-identificacion">
    <div class="botones">
      <button class="btn" id="regresarBtn" onclick="window.location.href='index.html'">Regresar</button>
      <label class="btn">
        Subir archivo de audio
        <input type="file" id="archivoAudio" accept=".wav" hidden>
      </label>
      <button class="btn" id="grabarBtn">Grabar audio</button>
    </div>

    <div class="paneles">
      <div class="drop-area" id="drop-area">Arrastrar y soltar</div>
      <canvas id="canvas">Espectograma</canvas>
    </div>
  </div>


  <div class="modelo-selector">
      <label for="modeloIA">Selecciona el modelo de IA:</label>
      <select id="modeloIA">
        <option value="modelo1">Modelo CNN</option>
        <option value="modelo2">Modelo LSTM</option>
        <option value="modelo3">Modelo GAN</option>
      </select>
      <button class="btn" id="btnUsarModelo">Usar modelo seleccionado</button>
    </div>



    
  <div class="resultado-modelo" id="resultadoModelo" style="display: none;">
    <h2>Resultados del Modelo</h2>
    <div class="grafica-roc">
      <h3>Curva ROC</h3>
      <img id="imagenROC" src="" alt="Curva ROC" />
    </div>
    <div class="metricas">
      <h3>Métricas del Modelo</h3>
      <ul>
        <li><strong>Métrica:</strong> <span id="metrica">-</span></li>
        <li><strong>Precisión:</strong> <span id="precision">-</span></li>
        <li><strong>Optimizador:</strong> <span id="optimizador">-</span></li>
        <li><strong>Épocas:</strong> <span id="epocas">-</span></li>
        <li><strong>Tamaño del dataset:</strong> <span id="dataset">-</span></li>
        <li><strong>Tiempo de entrenamiento:</strong> <span id="tiempo">-</span></li>
      </ul>
    </div>
  </div>



  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
